@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using HighlyDeveloped.Core.ViewModels

@{
    if (!UmbracoContext.IsFrontEndUmbracoRequest)
    {
        <p>front end</p>
    }
    else
    {
        @Html.Partial("~/Views/Partials/Contact Form.cshtml", new ContactFormViewModel());

    }
}