@inherits Umbraco.Web.Mvc.UmbracoViewPage
@if (!ViewData.ModelState.IsValid)
{
    <h3>Error</h3>
    foreach (var modelState in ViewData.ModelState.Values)
    {
        var errors = modelState.Errors;

        if (errors.Any())
        {
            <ul>
                @foreach (var error in errors)
                {
                    <li><em>@error.ErrorMessage</em></li>
                }
            </ul>
        }
    }
}
else
{
    <h2>Email Address Verified</h2>
    <p>Thanks for verifying your email address, you may now login normally.</p>
    <a class="btn btn-outline-primary" href="/login">Go to login</a>
}