@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModels.ForgottenPasswordViewModel>
@using HighlyDeveloped.Core.Controllers

<!-- Are we already logged in -->
@if (Umbraco.MemberIsLoggedOn())
{
    <h2>You are already logged in!</h2>
}
else if ((string)TempData["status"] == "OK")
{
    <p>
        An email has been sent to the emeail address you provided.
        Please follow the instructions therein.
    </p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<LoginController>("HandleForgottenPassword"))
                {
                    @Html.AntiForgeryToken();
                    <p>Enter your email address and we will send you a link to reset your password.</p>
                    
                    <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>

                    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a href="/Login">Back to Login</a>
                }
            </div>
        </div>
    </div>
}